@use "../../../assets/styles/abstracts" as *;

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);

  &__content {
    flex: 1;
    margin-top: var(--header-height);
    padding: var(--spacing-md);
    width: 100%;
    max-width: var(--content-width-xl);
    margin-left: auto;
    margin-right: auto;

    @include respond-to(var(--breakpoint-md)) {
      padding: var(--spacing-sm);
      margin-top: calc(var(--header-height) - 10px);
    }
  }
}