@use "../../../styles/abstracts/index" as *;

.loaderContainer {
  @include flex-center;
  display: inline-flex;

  &.center {
    @include center-absolute;
  }
}

.loader {
  border-radius: var(--radius-full);
  border-style: solid;
  border-color: var(--color-border);
  border-top-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
