header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  padding: 10px 20px;
  box-shadow: 0px 1px 12px $color-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header {
  &-left img {
    max-width: 275px;
    height: auto;
    margin-right: -150px;
  }

  &-center nav a {
    @include button-base;
    background: none;
    border: none;
    color: $color-text;
    font-size: $font-size-large;
    margin: 0 20px;

    &:hover {
      color: #000;
      transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;
    }
  }

  &-right img {
    max-width: 100px;
    height: auto;
  }
}
