@use "../abstracts" as *;

.btn {
  @include button-base;
  padding: var(--spacing-2) var(--spacing-4);
  height: var(--button-height-base);

  // Button variants
  &--primary {
    @include button-variant(--color-primary, --color-background);
  }

  &--secondary {
    @include button-variant(--color-gray-200, --color-text);
    border: 1px solid var(--color-border);
  }

  &--small {
    font-size: var(--font-size-sm);
    height: var(--button-height-sm);
    padding: var(--spacing-1) var(--spacing-3);
  }

  &--large {
    font-size: var(--font-size-lg);
    height: var(--button-height-lg);
    padding: var(--spacing-3) var(--spacing-6);
  }
}
